<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<body th:style="'background-color:'+${color}">-->
<body th:style="'background-image:url(' + ${color} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<!--th:style="'background: url(' + @̣{/images/bg_shadow_left.png} + ') repeat-y right; width: 6px;'"-->

<div class="buttons">
    <form action="/useful" method="get">
        <button>Home</button>
    </form>
    <form action="/useful/colored" method="get">
        <button>Random background generator</button>
    </form>

    <form method="get" action="/useful/email">
        <label for="email"></label>
        <input type="text" id="email" name="email"/>
        <a href="/useful/email?email=is@this.valid">example for e-mail validation</a>
        <button type="submit">Check validity</button>
    </form>
    <!--    <form action="/contains-nike" method="get">-->
    <!--        <button>CONTAINS NIKE</button>-->
    <!--    </form>-->
    <!--    <form action="/average-stock" method="get">-->
    <!--        <button>AVERAGE STOCK</button>-->
    <!--    </form>-->
    <!--    <form action="/most-expensive-available" method="get">-->
    <!--        <button>MOST EXPANSIVE AVAILABLE</button>-->
    <!--    </form>-->
</div>

</body>
</html>