body {
    padding-left: 170px;
    padding-right: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif
}


.buttons {
    text-align: center;
    padding: 10px;
}

form{
    display: inline-block;
}

.buttons > form > button {
    color: ghostwhite;
    background-color: rgb(3, 140, 229);
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    font-size:20px;
}

#gif {
    bottom:7%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes run {
    0% {
        left: 0%;
        transform: rotateY(0deg);
    }
    49% {
        transform: rotateY(0deg);
    }
    50% {
        left: 90%;
        transform: rotateY(180deg);
    }
    99% {
        transform: rotateY(180deg);
    }
    100% {
        left: 0%;
        transform: rotateY(0deg);
    }
}
