<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basic Webshop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body th:style="'background-image:url(' + @{/image/FamilyGuy_Single_BrianWriter_R7.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover; background-position: center; background-position: 50% 25%;'">

<header>

    <h1><a th:href="@{/}">My Shop</a></h1>
    <br>
    <br>
    <br>
    <div id="gif">
        <img class="shape" src="https://i.pinimg.com/originals/1b/11/0a/1b110aba188775ecac41384a43ab2135.gif" width=80px
             height=auto>
    </div>
    <hr>
</header>

<div class="buttons">
    <form action="/available" method="get">
        <button>ONLY AVAILABLE</button>
    </form>
    <form action="/sort-by-cheapest" method="get">
        <button>CHEAPEST PRICE</button>
    </form>
    <form action="/contains-nike" method="get">
        <button>CONTAINS NIKE</button>
    </form>
    <form action="/average-stock" method="get">
        <button>AVERAGE STOCK</button>
    </form>
    <form action="/most-expensive-available" method="get">
        <button>MOST EXPANSIVE AVAILABLE</button>
    </form>
</div>
<div class="search">
    <form action="/search"  method="post">
        <label for="search">Search for:</label><br>
        <input type="text"  name="search" id="search" placeholder="...this is not what you are searching for" size="60" height="20px">
        <button type="submit">Search</button>
    </form>
</div>
<table>
    <tr id="average">
        <th>Average stock: </th>
        <td th:text="${itemsList}"/>
    </tr>
</table>
</body>
</html>