body {
    color: ghostwhite;
    /*background-color: blanchedalmond;*/
    /*background:url("/static/istockphoto-1138395421-612x612.jpg") repeat-y 100% 100% fixed;*/
    /*height:100%;*/
    /*width:100%;*/
}

p {
    background-color: darkcyan;
    opacity: 0.9;
    margin-top: 50px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    text-align: center;
}